* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav{
    position: fixed;
    background: linear-gradient(to right, #40516b, #2e5f62);
    top: 0px;
    width: 100%;
    padding: 3vh;
    color: white;
}

body {
  background-color: linear-gradient(to right, #83a4d4, #b6fbff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.converter-container {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 320px;
  text-align: left;
}

.converter-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin: 30px 0;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #444;
}

input, select {
  width: 100%;
  padding: 10px 150px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #3367d6;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}